body{
    background-color: rgb((255,127,80));
    text-align: center;
    color: rgb(25, 19, 19);
}
h1 {background-color: #F4A460;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {font-size: 30px;
    background-color: #F4A460;
}
p {
    font-size: 30px;
}
.paragrafo1 {
    color: rgb(208, 30, 30);
}
.paragrafo2 {
    background-color: burlywood;
}
img{
    width: 200px;
}
